*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
li{
    list-style: none;
}

.wrapper{
    margin: 0 auto;
    padding: 40px;
    width: 100%;
    max-width: 1440px;
}
.add-movie-form{
    max-width: 400px;
}
.input{
    margin: 5px 0;
    display: block;
    padding-left: 20px;
    height: 40px;
    width: 100%;
    border: 1px solid royalblue;
}
.input-area{
    margin: 5px 0;
    display: block;
    padding: 20px;
    height: 120px;
    width: 100%;
    border: 1px solid royalblue;
    resize: none;
}
.button{
    margin: 5px 0;
    padding: 0 40px;
    height: 40px;
    text-align: center;
    background: royalblue;
    color: white;
    border: none;
}
.button:hover{
    background: #415fc3;
}
.button--error{
    background: tomato;
}
.button--error:hover{
    background: #e16347;
}
.movie-list {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.movie-card{
    margin: 5px;
    width: 280px;
    padding: 15px;
    background: #fafafa;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
}
.movie-img{
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: center;
}

.actors-create-list {
    margin: 5px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.actors-create-item{
    margin: 2px;
    padding: 10px;
    border-radius: 2px;
    background: #ddd;
    font-size: 12px;
}
.actor-item{
    display: inline-block;
    margin-right: 10px;
}