*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}


body{
    padding-top: 60px;
    background: #000000;
    color: #222;
}
li{
    list-style: none;
}
p{
    line-height: 1.5;
}

.flex{
    display: flex;
}
.flex-between{
    justify-content: space-between;
}
.items-center{
    align-items: center;
}
.row{
    margin: 10px 0;
}
.wrapper{
    margin: 0 auto;
    padding: 0 40px;
    width: 100%;
    max-width: 1230px;
}

.header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
    height: 60px;
    background: #1c1d1d;
}
.logo{
    display: block;
}
.logo > img {
   height: 40px;
}
.logo-text{
    display: inline-block;
    padding-left: 20px;
    font-size: 40px;
    line-height: 40px;
    color: white;
    font-family: 'Monoton', cursive;
}
.banner{
    width: 100%;
}
/*popup*/
.add-movie-popup {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    overflow: auto;
}
.add-movie-popup.open{
    display: block;
}
.popup-wrapper{
    position: relative;
    margin: 40px auto;
    padding: 40px;
    width: 500px;
    background: #eee;
}
.button-close-popup{
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    height: 30px;
    width: 30px;
    background: url(images/close.svg) no-repeat center;
    background-size: 20px 20px;
    opacity: 0.5;
}
.button-close-popup:hover{
    opacity: 1;
}
.add-movie-form{
    width: 100%;
}
.input{
    margin: 5px 0;
    display: block;
    padding-left: 20px;
    height: 40px;
    width: 100%;
    border: 1px solid #bababa;
}
.input:focus{
    border-color: royalblue;
}
.input-area{
    margin: 5px 0;
    display: block;
    padding: 20px;
    height: 120px;
    width: 100%;
    border: 1px solid #bababa;
    resize: none;
}
.input-area:focus{
    border-color: royalblue;
}
.button{
    margin: 5px 0;
    padding: 0 40px;
    height: 40px;
    text-align: center;
    background: royalblue;
    color: white;
    border: none;
}
.button:hover{
    background: royalblue;
}
.button--delete{
    position: absolute;
    padding: 0;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    background: url(images/rubbish.svg) no-repeat center;
    background-size: 20px 20px;
    opacity: 0.3;
    transition: 0.2s;
}
.button--delete:hover{
    opacity: 1;
}
/*filter*/
.filters{
    background: #fff;
    padding: 10px 20px;
    font-size: 14px;
}
.search-input{
    width: 400px;
}
.filter-select{
    margin: 0 20px 0 10px;
    height: 30px;
    width: 120px;
    border-color: #bababa;
}
.filter-select:focus{
    border-color: royalblue;
}
.filter-label{
    display: inline-block;
    height: 30px;
    line-height: 30px;


}
/*movie list*/
.movie-list {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.movie-card{
    margin: 5px;
    width: calc(20% - 10px);
    min-width: 220px;
    padding: 8px;
    background: #fafafa;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
    transition: 0.1s;
}
.movie-card:hover{
    box-shadow: 0 0 10px 0 rgba(255,255,255,1);
}
.movie{
    position: relative;
    height: 100%;
    width: 100%;
}

.movie-card-img{
    margin-bottom: 10px;
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
}
.movie-card__title{
    font-size: 18px;
    margin-bottom: 6px;
}
.movie-card__key{
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 600;
}
.movie-card__value{
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
}
.add-actor-form{
    display: flex;
}
.actors-create-list {
    margin: 5px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.actors-create-item{
    margin: 2px;
    padding: 0 5px 0 10px;
    height: 30px;
    border-radius: 2px;
    background: #ffffff;
    font-size: 12px;

}
.actors-create-item > div{
    display: flex;
}
.actor-create-name{
    line-height: 30px;
}
.button-add-actor{
    padding: 0 10px;
}
.button-delete-actor{
    margin-left: 10px;
    border: none;
    width: 20px;
    height: 30px;
    display: inline-block;
    background: url(images/close.svg) no-repeat center;
    background-size: 14px 14px;
    opacity: 0.5;
}
.button-delete-actor:hover{
    opacity: 1;
}

.actor-item{
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
}
.movie-format{
    position: absolute;
    width: 80px;
    padding: 5px 0;
    text-align: center;
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
}
.add-movie-form__title{
    margin: 16px 0 10px;
    font-size: 18px;
    font-weight: 600;
}
/*page about*/
.page-about{
    margin-top: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #fff;
    min-height: calc(100vh - 100px);
}
.button-back{
    position: relative;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 0 40px;
    height: 40px;
    color: royalblue;
    background: #fff;
    transition: 0.1s;
}
.button-back:hover{
    cursor: pointer;
    border: 1px solid royalblue;
}
.button-back:before{
    display: block;
    position: absolute;
    content: "";
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    background: url(images/left-arrow.svg) no-repeat center;
}
.page-about__image{
    width: 300px;
}
.page-about__description{
    width: 70%;
    padding-left: 40px;
    box-sizing: border-box;
}
.movie__title{
    margin-bottom: 20px;
    font-size: 30px;
}
.movie__img{
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
    width: 100%;
    height:auto;
}
.movie__actors-list{
    display: flex;
    flex-wrap: wrap;
}
.movie__actor-item{
    margin-right: 12px;
}
.description__key{
    width: 150px;
    font-size: 16px;
    font-weight: 600;
}
.description__value{
    width: calc(100% - 150px);
    flex-grow: 4;
    font-size: 16px;
    font-weight: 400;
}
.empty-star{
    margin: 20px auto;
    position: relative;
    width: 240px;
    height: 24px;
    background: url(images/star.svg);
    background-size: 24px 24px;
}
.entire-star{
    position: relative;
    height: 24px;
    background: url(images/star-1.svg);
    background-size: 24px 24px;
}