*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
li{
    list-style: none;
}
body{
    padding-top: 60px;
    background: #202455;
}

.wrapper{
    margin: 0 auto;
    padding: 0 40px;
    width: 100%;
    max-width: 1230px;
}

.header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    height: 60px;
    background: #16193b;
}

.logo > img {
   height: 40px;
}
.logo-text{
    display: inline-block;
    padding-left: 20px;
    font-size: 40px;
    line-height: 40px;
    color: white;
    font-family: 'Monoton', cursive;
}
/*popup*/
.add-movie-popup {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    overflow: auto;
}
.add-movie-popup.open{
    display: block;
}
.popup-wrapper{
    position: relative;
    margin: 40px auto;
    padding: 40px;
    width: 500px;
    background: #eee;
}
.button-close-popup{
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    height: 30px;
    width: 30px;
    background: url(images/close.svg) no-repeat center;
    background-size: 20px 20px;
    opacity: 0.5;
}
.button-close-popup:hover{
    opacity: 1;
}
.add-movie-form{
    width: 100%;
}
.input{
    margin: 5px 0;
    display: block;
    padding-left: 20px;
    height: 40px;
    width: 100%;
    border: 1px solid royalblue;
}
.input-area{
    margin: 5px 0;
    display: block;
    padding: 20px;
    height: 120px;
    width: 100%;
    border: 1px solid royalblue;
    resize: none;
}
.button{
    margin: 5px 0;
    padding: 0 40px;
    height: 40px;
    text-align: center;
    background: royalblue;
    color: white;
    border: none;
}
.button:hover{
    background: #415fc3;
}
.button--error{
    padding: 0 10px;
    background: tomato;
}
.button--error:hover{
    background: #e16347;
}
.button--delete{
    position: absolute;
    padding: 0;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    background: url(images/rubbish.svg) no-repeat center;
    background-size: 20px 20px;
    opacity: 0.3;
    transition: 0.2s;
}
.button--delete:hover{
    opacity: 1;

}
.movie-list {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.movie-card{
    margin: 5px;
    width: 220px;
    padding: 10px;
    background: #fafafa;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
}
.movie{
    position: relative;
    height: 100%;
    width: 100%;
}

.movie-img{
    margin-bottom: 10px;
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
}
.movie-card__title{
    font-size: 20px;
}
.movie-card__key{
    font-size: 16px;
}
.add-actor-form{
    display: flex;
}
.actors-create-list {
    margin: 5px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.actors-create-item{
    margin: 2px;
    padding: 0 5px 0 10px;
    height: 30px;
    border-radius: 2px;
    background: #ffffff;
    font-size: 12px;

}
.actors-create-item > div{
    display: flex;
}
.actor-create-name{
    line-height: 30px;
}
.button-add-actor{
    padding: 0 10px;
}
.button-delete-actor{
    margin-left: 10px;
    border: none;
    width: 20px;
    height: 30px;
    display: inline-block;
    background: url(images/close.svg) no-repeat center;
    background-size: 14px 14px;
    opacity: 0.5;
}
.button-delete-actor:hover{
    opacity: 1;
}

.actor-item{
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
}